.about {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.about-card {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;

    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-card img {
    width: 450px;

    border-radius: 20px;
}

.about-card p {
    height: 450px;
    max-width: 450px;

    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;
    margin-bottom: 25px;
}

.about-card div p {
    margin: 0;

}

@media(max-width: 950px) {
    .about-card img {
        width: 300px;
    }
}

@media(max-width: 650px) { 
    .about-card {
        flex-direction: column;
    }   
}