nav {
    /* Size */
    height: 75px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    /* Flex */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
}

nav a {
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;

    text-decoration: none;

    margin-right: 20px;
}